<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.bidMapper" >
  <resultMap id="BaseResultMap" type="DO.bid" >
    <constructor >
      <idArg column="bidId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="tenantId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="landlordName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="result" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="price" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="roomId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="orderId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="score" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    bidId, tenantId,landlordName, result, price, roomId, orderId ,score
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bid
    where bidId = #{bidid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bid
    where bidId = #{bidid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="DO.bid" >
    insert into bid ( tenantId, landlordName, result,
      price, roomId, orderId, score
      )
    values (#{tenantid,jdbcType=INTEGER}, #{landlordname,jdbcType=VARCHAR}, #{result,jdbcType=INTEGER},
      #{price,jdbcType=INTEGER}, #{roomid,jdbcType=INTEGER}, #{orderid,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="DO.bid" >
    insert into bid
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bidid != null" >
        bidId,
      </if>
      <if test="tenantid != null">
        tenantId,
      </if>
      <if test="landlordname != null" >
        landlordName,
      </if>
      <if test="result != null" >
        result,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="roomid != null" >
        roomId,
      </if>
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="score != null" >
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bidid != null" >
        #{bidid,jdbcType=INTEGER},
      </if>
      <if test="tenantid != null" >
        #{tenantid,jdbcType=INTEGER},
      </if>
      <if test="landlordname != null" >
        #{landlordname,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="roomid != null" >
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="DO.bid" >
    update bid
    <set >
      <if test="tenantid != null" >
        tenantId = #{tenantid,jdbcType=INTEGER},
      </if>
      <if test="landlordname != null" >
        landlordName = #{landlordname,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        result = #{result,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="roomid != null" >
        roomId = #{roomid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        orderId = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="score !=null">
        score = #{score,jdbcType=INTEGER},
      </if>
    </set>
    where bidId = #{bidid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="DO.bid" >
    update bid
    set tenantId = #{tenantid,jdbcType=INTEGER},
      landlordName = #{landlordname,jdbcType=VARCHAR},
      result = #{result,jdbcType=INTEGER},
      price = #{price,jdbcType=INTEGER},
      roomId = #{roomid,jdbcType=INTEGER},
      orderId = #{orderid,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER}
    where bidId = #{bidid,jdbcType=INTEGER}
  </update>
</mapper>